

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 

body {
    line-height: 1;
    
    background: url("https://mars.nasa.gov/assets/red_planet_bg.jpg") no-repeat center center fixed; 
    background-size: cover;
    /* https://mars.nasa.gov/system/resources/detail_files/24833_PIA23624_hutton-selfie-web.jpg"
     */
    
/* } */ 

 ol, ul {
	list-style: none;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url(http://www.baltana.com/files/wallpapers-8/Black-Screen-Mesh-Best-Wallpaper-24692.jpg);
    background-size: cover;
    /* color: white; */

}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}
.search-btn{
    color:#e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;

}
main{
    color: blue;
    /* display: inline; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    /* -ms-grid-column-align: start; */
    font-size: 24px;
    grid-template-rows: 80px;
    grid-gap: 5px;
    /* width: 3060px; */
    /* background-color: magenta; */
    margin-top: auto;
    margin-right: auto;
    align-items: bottom;
    
}
body > div {
    border-right: solid 1px;
    display: flex;
    justify-content: center;
    background: none;

}